<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="login">
<div class="container">
	<div class="text-center pt-1 pb-5" th:if="${param.error}">
		<h2>Usuario, correo electrónico o contraseña invalidos!</h2>
	</div>
	<form class="row g-3 needs-validation" novalidate method="post" role="form" th:action="@{/auth/login/submit}" th:object="${usuario}">
		<div class="col-md-4">
			<label for="username" class="form-label">Username o correo electrónico</label>
			<div class="input-group has-validation">
				<span class="input-group-text" id="inputGroupPrepend">@</span>
				<input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend" required  th:field="*{username}">
				<div class="invalid-feedback">
					Debes introducir tu username o correo electrónico
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<label for="password" class="form-label">Contraseña</label>
			<input type="password" class="form-control" id="password" required th:field="*{password}">
			<div class="invalid-feedback">
				Debes introducir una contraseña
			</div>
		</div>
		<div class="col-12">
			<button class="btn btn-primary" type="submit">Iniciar sesión</button>
		</div>
		<!-- Campo para registrarse -->
		<div class="form-group">
			<div class="col-md-12 control">
				<div style="border-top: 1px solid #888; padding-top: 15px;">
					¿Todavía no tienes una cuenta? ¡Puedes crearla ahora mismo
					<a th:href="@{/auth/register}" class="fw-bold">pulsando aquí</a>!
				</div>
			</div>
		</div>
	</form>
</div>
</div>