<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="register">
<div class="container">
    <div class="text-center pt-1 pb-5" th:if="${message != null}">
        <h2 th:text="${message}"></h2>
    </div>
    <form class="row g-3 needs-validation" novalidate method="post" role="form" th:action="@{/auth/register/submit}" th:object="${usuario}">
        <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" required th:field="*{nombre}">
            <div class="invalid-feedback">
                Debes introducir tu nombre
            </div>
        </div>
        <div class="col-md-4">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" required th:field="*{apellidos}">
            <div class="valid-feedback">
                Debes introducir tus apellidos
            </div>
        </div>
        <div class="col-md-4">
            <label for="username" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend" required  th:field="*{username}">
                <div class="invalid-feedback">
                    Debes introducir un nombre de usuario.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Corre electrónico</label>
            <input type="email" class="form-control" id="email" required  th:field="*{email}">
            <div class="invalid-feedback">
                Debes introducir tu correo electrónico.
            </div>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" required th:field="*{password}">
            <div class="invalid-feedback">
                Debes introducir una contraseña
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Acepto los términos y condiciones.
                </label>
                <div class="invalid-feedback">
                    Debes aceptar los términos y condiciones para registrarte.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Registrarme</button>
        </div>
        <!-- Campo para registrarse -->
        <div class="form-group">
            <div class="col-md-12 control">
                <div style="border-top: 1px solid #888; padding-top: 15px;">
                    ¿Ya tienes una cuenta? ¡Puedes iniciar sesión
                    <a th:href="@{/auth/login}" class="fw-bold">pulsando aquí</a>!
                </div>
            </div>
        </div>
    </form>
</div>
</div><!-- /.container -->
