<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="banner">
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">BookReview</h1>
                <p class="lead fw-normal text-white-50 mb-0">Las mejores reviews de libros</p>
            </div>
        </div>
    </header>
</div>
</body>