<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="categorias">
<div class="container">
  <div class="text-center pt-1 pb-5" th:if="${message != null}">
    <h2 th:text="${message}"></h2>
  </div>
  <th:block th:if="${categorias.size() > 0}">
    <!-- Si tu carrito tiene cosas dentro -->
    <table class="table">
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="categoria : ${categorias}">
        <td><img class="icono-listado" th:src="${categoria.imagen}" alt="admin-categoria" width="64px" height="64px"></td>
        <td th:text="${categoria.nombre}"></td>
        <td th:text="${categoria.descripcion}"></td>
        <td>
          <a th:href="@{/categorias/{id}(id=${categoria.id})}" class="fw-bold">Ver</a>
          <a th:href="@{/admin/categoria/edit/{id}(id=${categoria.id})}" class="fw-bold">Editar</a>
          <a th:href="@{/admin/categoria/unbind/{id}(id=${categoria.id})}" class="fw-bold">Desasignar</a>
          <a th:href="@{/admin/categoria/delete/{id}(id=${categoria.id})}" class="fw-bold">Borrar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </th:block>

  <div th:if="${categorias.isEmpty()}">
    <h4 class="text-center">No existe ninguna categoria</h4>
  </div>

  <!-- Botón para crear una categoria -->
  <form style="display: inline; float: right" th:action="@{/admin/categoria/new}">
    <button type="submit" class="btn btn-warning float-right text-right">Nueva categoria</button>
  </form>

  <!-- Botón para volver -->
  <form style="display: inline; float: left" th:action="@{/admin/}">
    <button type="submit" class="btn btn-warning float-right text-right">Volver</button>
  </form>
</div>
</div>