<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="libro">
    <div class="container">
        <div class="text-center pt-1 pb-5" th:if="${message != null}">
            <h2 th:text="${message}"></h2>
        </div>
        <form class="row g-3 needs-validation" novalidate method="post" role="form" th:action="@{/admin/libro/submit}" th:object="${libro}">
            <!-- Campo de id -->
            <input id="id" type="hidden" class="form-control" name="id" placeholder="id" readonly th:value="*{id}">
            <input id="publicaciones" type="hidden" class="form-control" name="puntuaciones" placeholder="puntuaciones" readonly th:value="*{puntuacion}">

            <div class="col-md-4">
                <label for="titulo" class="form-label">Titulo</label>
                <input type="text" class="form-control" id="titulo" required th:field="*{titulo}">
                <div class="invalid-feedback">
                    Debes introducir el título del libro
                </div>
            </div>

            <div class="col-md-12">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" rows="5" required th:field="*{descripcion}"/>
                <div class="invalid-feedback">
                    Debes introducir la descripción del libro
                </div>
            </div>

            <div class="col-md-5">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" id="autor" required th:field="*{autor}">
                <div class="invalid-feedback">
                    Debes introducir el autor del libro
                </div>
            </div>

            <div class="col-md-5">
                <label for="editorial" class="form-label">Editorial</label>
                <input type="text" class="form-control" id="editorial" required th:field="*{editorial}">
                <div class="invalid-feedback">
                    Debes introducir el editorial del libro
                </div>
            </div>

            <div class="col-md-5">
                <label for="categorias" class="form-label">Categorías</label>
                <select class="form-control form-select" id="categorias" th:field="*{categorias}" multiple="multiple">
                    <option value="" disabled selected="selected">Elige las categorías</option>
                    <option th:each="categoria : ${categorias}" th:selected="${libro.categorias.contains(categoria)}"
                            th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                </select>
            </div>

            <div class="col-md-5">
                <label for="tipoLibro" class="form-label">Tipo de Libro</label>
                <input type="text" class="form-control" id="tipoLibro" required th:field="*{tipoLibro}">
                <div class="invalid-feedback">
                    Debes introducir el tipo de libro
                </div>
            </div>

            <div class="col-md-5">
                <label for="numeroPaginas" class="form-label">Número de páginas</label>
                <input type="text" class="form-control" id="numeroPaginas" required th:field="*{numeroPaginas}">
                <div class="invalid-feedback">
                    Debes introducir el número de páginas
                </div>
            </div>

            <div class="col-md-5">
                <label for="fecha" class="form-label">Fecha de publicación</label>
                <input type="text" class="form-control" id="fecha" required th:field="*{fechaPublicacion}">
                <div class="invalid-feedback">
                    Debes introducir la fecha de publicación del libro
                </div>
            </div>

            <div class="col-md-5">
                <label for="imagen" class="form-label">Portada del libro</label>
                <input type="url" class="form-control" id="imagen" required th:field="*{imagen}">
                <div class="invalid-feedback">
                    Debes introducir la imagen del libro
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>

            <div class="form-group">
                <div class="col-md-12 control">
                    <div style="border-top: 1px solid #888; padding-top: 15px;">
                        ¿Quieres volver al listado? Puedes hacerlo
                        <a th:href="@{/admin/libros/}" class="fw-bold">pulsando aquí</a>!
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>