<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<div th:fragment="libro">
    <div class="py-5">
        <div class="container px-3 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6 detalle-imagen">
                    <!-- Imagen -->
                    <img class="card-img-top mb-5 mb-md-0" width="400px" height="800px" th:src="${libro.imagen}" alt="imagen-detalle">
                </div>
                <div class="col-md-6">
                    <!-- Nombre del libro -->
                    <h1 class="display-5 fw-bolder" th:text="${libro.titulo}"/>

                    <!-- Autor del libro -->
                    <p class="lead">Autor: <a th:text="${libro.autor.getFullNombre()}" th:href="@{/autores/{id}(id=${libro.autor.id})}"/></p>

                    <!-- Editorial del libro -->
                    <p class="lead">Editorial: <a th:text="${libro.editorial.nombre}" th:href="@{/editoriales/{id}(id=${libro.editorial.id})}"/></p>

                    <!-- Categorias del libro -->
                    <p class="lead">
                        Categorias:
                        <th:block th:each="categoria: ${libro.categorias}">
                            <a th:text="${categoria.nombre}" th:href="@{/categorias/{id}(id=${categoria.id})}"></a>
                        </th:block>
                    </p>

                    <!-- Tipo de libro -->
                    <p class="lead">Tipo de libro: <a th:text="${libro.tipoLibro.getNombre()}" th:href="@{/tipolibros/{tipoLibro}(tipoLibro=${libro.tipoLibro})}"/></p>

                    <!-- Número de páginas del libro -->
                    <p class="lead" th:text="${'Número de páginas: ' + libro.numeroPaginas}"></p>

                    <!-- Puntuación del libro -->
                    <p class="lead">
                        Puntuación:

                        <th:block th:if="${libro.tienePuntuacion()}" th:with="media=${libro.getPuntuacion().calcularMediaPuntuaciones()}">
                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <th:block th:if="${media} >= ${i}">
                                    <a style="color: gold">⭐</a>
                                </th:block>
                                <th:block th:if="${media} < ${i}">
                                    <a style="color: gray">⭐</a>
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${libro.tienePuntuacion()}">
                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <a style="color: gray">⭐</a>
                            </th:block>
                        </th:block>
                    </p>

                    <p class="lead" style="text-align: justify" th:text="${libro.descripcion}"/>
                </div>
            </div>
        </div>
    </div>
</div>