<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="reviews">
    <div class="container">
        <section class="py-5">
            <h1 class="text-center">Reviews</h1>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" th:each="review : ${reviews}">
                        <div class="col mb-5">
                            <div class="card">
                                <!-- Product image-->
                                <a th:href="@{/reviews/{id}(id=${review.id})}">
                                    <img class="card-img-top libro" th:src="${review.imagen}"/>
                                </a>

                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <a th:href="@{/reviews/{id}(id=${review.id})}">
                                            <h5 class="fw-bolder" th:text="${review.titulo}"></h5>
                                        </a>
                                    </div>

                                    <!-- Estrellas -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <!--- Comprobamos que tenga puntuacion -->
                                        <th:block th:with="puntuacion=${review.getPuntuacion().getPuntuacion()}">
                                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                                <th:block th:if="${puntuacion} >= ${i}">
                                                    <div class="bi-star-fill"></div>
                                                </th:block>
                                                <th:block th:if="${puntuacion} < ${i}">
                                                    <div class="bi-star-fill" style="color: gray"></div>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>

                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" th:href="@{/reviews/{id}(id=${review.id})}">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>