<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg header nav-fondo">
        <div class="container-fluid">
            <a class="navbar-brand nav-opcion" th:href="@{/}" th:text="BookReview"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" th:href="@{/buscador/}">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" th:href="@{/categorias/}">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" th:href="@{/autores/}">Autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" th:href="@{/editoriales/}">Editoriales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" th:href="@{/tipolibros/}">Tipo de Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-opcion" th:href="@{/libros/}">Libros</a>
                    </li>
                </ul>

                <form class="d-flex" th:action="@{/libros/}">
                    <input class="form-control me-2 nav-busqueda" type="search" placeholder="Búsqueda" name="q" th:value="${param.q}">
                    <button class="btn btn-outline-success nav-busqueda-boton" type="submit"><i class="bi bi-search"></i></button>
                </form>

                <ul class="nav navbar-nav navbar-right ms-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-warning nav-listado" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Usuarios con sesion iniciada -->
                            <span class="nav-listado-opcion" th:if="${#authorization.expression('isAuthenticated()')}"
                                  th:text="${#authentication.getPrincipal().getUsername()}"></span>

                            <!-- Usuarios sin sesion iniciada -->
                            <span class="nav-listado-opcion" th:unless="${#authorization.expression('isAuthenticated()')}">Nuevo usuario</span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Opciones para los usuarios logeados -->
                            <li><a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/admin/}">Admin</a></li>
                            <li><hr sec:authorize="isAuthenticated()" class="dropdown-divider"></li>
                            <li><a sec:authorize="isAuthenticated()" class="dropdown-item" href="/auth/logout">Logout</a></li>

                            <!-- Opciones para los usuarios no logeados -->
                            <li><a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/auth/login}">Login</a></li>
                            <li><a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/auth/register}">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>