<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/}">BookReview</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/buscador/}">Buscador</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/reviews/}">Reviews</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/categorias/}">Categorias</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/autores/}">Autores</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/editoriales/}">Editoriales</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/tipolibros/}">Tipo de Libros</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/libros/}">Libros</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Usuarios con sesion iniciada -->
                            <span class="nav-listado-opcion" th:if="${#authorization.expression('isAuthenticated()')}"
                                  th:text="${#authentication.getPrincipal().getUsername()}"></span>

                            <!-- Usuarios sin sesion iniciada -->
                            <span class="nav-listado-opcion" th:unless="${#authorization.expression('isAuthenticated()')}">Nuevo usuario</span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Opciones para los usuarios logeados -->
                            <li><a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/admin/}">Admin</a></li>
                            <li><hr sec:authorize="isAuthenticated()" class="dropdown-divider"></li>
                            <li><a sec:authorize="isAuthenticated()" class="dropdown-item" href="/auth/logout">Logout</a></li>

                            <!-- Opciones para los usuarios no logeados -->
                            <li><a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/auth/login}">Login</a></li>
                            <li><a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{/auth/register}">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>